body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h1 {
  color: #333;
}

.command{
  color: gray;
}
.green {
  color: #2ecc71;
}

.red {
  color: #e74c3c;
}

#restart{
  padding: 10px 20px;
  border: none;
  background-color: #4d93d8;
  font-size: 16px;
  color: white;
}